<% include partials/header %>

<main class="flex justify-center items-center" style="background-image: url(/images/background.gif); background-repeat: no-repeat; width: 100%; background-size: cover;">
    <div class="w-4/12">
        <form action="/users/login/forgotpassword" method="POST" class="flex flex-col p-12 border-2 border-gray-300 rounded-lg mb-10 bg-white">
            <h2>Please Enter your registered Email</h2>
            <% if(error) {%>
                <p class="text-red-400"><%=error  %> </p>
            <% } %> 
            <% if(info) { %>
                <h3 class="text-green-500 font-bold"><%= info %></h3>
            <% } %>
            <input class="w-full py-3 outline-none px-4 border-2 rounded-lg mt-4" type="email" name="email" placeholder="Enter your email">
            <input type="submit" value="Send Verification Code" class="w-full py-3 outline-none px-4 border-2 rounded-lg mt-4">
        </form>
    </div>
</main>

<%- include('partials/footer') %>
