<!DOCTYPE html>
<html>
  <head>
    <title>Expenses and Incomes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>

    </header>

    <main class="w-full h-screen flex justify-center items-center" style="background-image: url(/images/background.gif); background-repeat: no-repeat; background-size: cover;">
      <div class="w-10/12 m-auto flex justify-between shadow-lg  border-gray-50 border">
        <div class="w-7/12 ">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSZTR0MCBddDBS3liNoDJK1zXjMFBYuxVZbg&usqp=CAU" alt="Main Image">
        </div>

       <div class="w-5/12 px-16 border-red-500 bg-white text-black flex justify-center items-center" >
        <div >
          <h1 class="text-5xl font-extrabold ">Finance <strong class="block">Management</strong></h1>
          <div class="flex mt-6">
            <a href="/auth/google" class="w-4/12">
              <img class="w-full rounded-md" src="/images/google.png" alt="Google Image">
            </a>
            <a href="/auth/github" class="w-4/12">
              <img class="w-full rounded-md ml-4" src="/images/github.jpg" alt="Github Image">
            </a>
          </div>

          <div class="mt-10">
            <a href="/users/login">Login ?</a>
            <a class="border-2 py-2 px-4 rounded-md ml-3 bg-black text-white" href="/users/register/new">Register</a>
          </div>
      </div>
       </div>
      </div>
    </main>
  </body>
</html>