<% include partials/header %> 

<main class="w-full h-screen flex justify-center items-center" style="background-image: url(/images/background.gif); background-repeat: no-repeat; background-size: cover;">
    <div class="w-4/12">
        <form action="/users/login/resetpassword" method="POST" class="py-16 px-8 border-2 rounded-lg bg-white relative">
            <h2>Please Enter your registered Email</h2>
            <% if(error) {%>
                <p class="text-red-400"><%=error  %> </p>
            <% } %> 


            <input class="w-full py-3 outline-none px-4 border-2 rounded-lg mt-4" type="password" name="newPasswd1" placeholder="Enter your password">
            <input class="w-full py-3 outline-none px-4 border-2 rounded-lg mt-4" type="password" name="newPasswd2" placeholder="confirm your password">
            <input type="submit" value="Send Verification Code" class="w-full py-3 outline-none px-4 border-2 rounded-lg mt-4">
        </form>
    </div>
</main>

